name: Sanity

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  sanity:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Update pip
        run: python3 -m pip install --upgrade pip

      - name: Install
        run: python3 -m pip install .

      - name: Install in editable mode
        run: python3 -m pip install -e .

      - name: Check help message
        run: python3 -m chatdbg --help

      - name: Check calling executables directly
        run: |
          chatdbg --help
